.btn {
  relative();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  size(164px, 55px);
  text-align: center;
  vertical-align: middle;
  border: 0;
  font: 700 26px/1 $font-base;
  letter-spacing: 0.1em;
  padding: 0;
  background: url('../img/btn.svg') center no-repeat;
  background-size: contain;
  transform: translateZ(0);
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 0;
  cursor: pointer;

  @media $mdHeight {
    size(vh(164), vh(55));
    font-size: vh(26);
  }

  .icon-bg {
    absolute(0px, 0px);
  }

  {hover-focus-active} {
    text-decoration: none;
    outline: none;
  }
}

.btn-360 {
  justify-content: flex-start;
  font: 700 20px $font-base;
  text-transform: uppercase;
  text-align left
  color: $white;
  size(290px, 84px);
  background: url('../img/btn-filled.svg') center no-repeat;
  background-size: contain;
  cursor pointer
  margin: 0 15px;

  @media $mdHeight {
    font-size: vh(20);
    size(vh(290), vh(84));
    margin: 0 vh(15);
  }

  .text {
    max-width: 150px;
    margin-left: 44px;
    letter-spacing: 0.2em;
    z-index: 2;

    @media $mdHeight {
      max-width: vh(150);
      margin-left: vh(44);
    }
  }

  .img-360 {
    absolute(-4px)
    right: -7px;

    @media $mdHeight {
      top: vh(-4);
      right: vh(-7);
    }

    &::before {
      content: '';
      display block;
      absolute-center();
      size(200px)
      background: radial-gradient($thirdly, transparent 70%);

      @media $mdHeight {
        size(vh(200));
      }
    }

    img {
      display block
      position relative
      size(99px, auto)

      @media $mdHeight {
        width: vh(99);
      }
    }
  }
}

.btn-ar {
  justify-content: flex-start;
  font: 700 14px $font-base;
  text-transform uppercase;
  text-align left
  size(227px, 59px);
  background: url('../img/btn-ar.svg') center no-repeat;
  background-size: contain;
  margin: 9px 15px 0;

  @media $mdHeight {
    font-size: vh(14);
    size(vh(227), vh(59));
    margin: vh(9) vh(15) 0;
  }

  .text {
    margin-left: 34px;
    max-width: 104px;
    letter-spacing: 0.2em;

    @media $mdHeight {
      margin-left: vh(34);
      max-width: vh(104);
    }
  }

  .ar {
    absolute(8px);
    right: 24px;
    font: 700 48px/1 $font-base;
    text-transform uppercase
    letter-spacing: 0.05em;

    @media $mdHeight {
      top: vh(8);
      right: vh(24);
      font-size: vh(48);
    }
  }
}
