.page--home {
  width: 100%;

  .page-bg-parts {
    absolute(0px, 0px);
    size(100%);
    background: url('../img/bg-parts.png') center no-repeat;
    background-size: auto vh(830);
  }

  .page-inner {
    flexy(flex-start, center);
    height: 100vh;
  }
  
  .page-content {
    flex: 0 0 50%;
    padding-top: vh(30);
    padding-left: vh(70);
    color: $secondary;

    .title {
      font: 700 vh(73)/1 $font-base;
      text-transform: uppercase;
      letter-spacing: 0.145em;

      &:first-line {
        letter-spacing: 0.21em;
      }
    }
    .subtitle {
      font: 200 vh(26)/1 $font-base;
      text-transform: uppercase;
      margin-top: vh(24);
      margin-left: vh(4);
      letter-spacing: 0.19em;
    }

    .btns {
      margin-top: vh(52);
      flexy(flex-start, center);
    }
  }
  .page-img,
  .page-bg-hero {
    .text {
      absolute(vh(460));
      width: vh(220);
      font: 900 vh(54)/1 $font-accent;
      letter-spacing: -0.05em;
      text-shadow: 0 vh(3) 0 $thirdly;
      transform: scaleY(1.25);

      &::before,
      &::after {
        content: '';
        display: block;
        absolute(106%, 0px);
        size(0px);
      }
      &::before {
        border-top vh(11.2) solid $thirdly;
        border-right: vh(220) solid transparent;
      }
      &::after {
        border-top vh(8) solid $white;
        border-right: vh(220) solid transparent;
      }
    }
  }
  .page-img {
    flex: 0 0 50%;
    height: 100vh;
    
    .text {
      left: vh(212);

      @media screen and (max-width: 1360px) {
        left: vw(170, 1360);
      }
    }

    .hero {
      absolute(0px);
      left: -390px;
      size(1350px, 100%);
      background: url('../img/home.jpg') top center no-repeat;
      background-size: auto 1080px;
      
      img {
        display block
        max-width 100%
      }
    }
  }
  .page-bg-hero {
    absolute(0px, 50%);
    size(vh(1350), 100%);
    margin-left: vh(-390);
    background: url('../img/home.jpg') top center no-repeat;
    background-size: auto vh(1080);
    mix-blend-mode: lighten;

    .text {
      left: vh(600);
    }
  }
}