.page--home {
  width: 100%;

  .page-bg-hero {
    absolute(0px, 50%);
    margin-left: -390px;
    size(1350px, 100%);
    background: url('../img/home.jpg') top center no-repeat;
    mix-blend-mode: lighten;
  }

  .page-bg-parts {
    absolute(0px, 0px);
    size(100%);
    background: url('../img/bg-parts.png') center no-repeat;
    background-size: auto 830px;
  }

  .page-inner {
    flexy(center, flex-start);
  }
  
  .page-content {
    flex: 0 0 50%;
    padding-top: 226px;
    padding-left: 70px;
    color: $secondary;

    .title {
      font: 700 73px/1 $font-base;
      text-transform: uppercase;
      letter-spacing: 0.145em;

      &:first-line {
        letter-spacing: 0.21em;
      }
    }
    .subtitle {
      font: 200 26px/1 $font-base;
      text-transform: uppercase;
      margin-top: 32px;
      margin-left: 4px;
      letter-spacing: 0.2em;
    }

    .btns {
      margin-top: 60px;
      flexy(flex-start, center);
    }
  }
  .page-img {
    flex: 0 0 50%;
    height: 100vh;

    .hero {
      absolute(0px);
      left: -390px;
      size(1350px, 100%);
      background: url('../img/home.jpg') top center no-repeat;
      background-size: auto 1080px;
      img {
        display block
        max-width 100%
      }
    }

    .text {
      absolute(460px, 212px);
      width: 220px;
      font: 900 54px/1 $font-accent;
      letter-spacing: -0.05em;
      text-shadow: 0 3px 0 $thirdly;
      transform: scaleY(1.25);

      &::before,
      &::after {
        content: '';
        display: block;
        absolute(106%, 0px);
        size(0px);
      }
      &::before {
        border-top 11.2px solid $thirdly;
        border-right: 220px solid transparent;
      }
      &::after {
        border-top 8px solid $white;
        border-right: 220px solid transparent;
      }
    }
  }
}