extends template

prepend page
	- var layout = 'home';
	- var currentPage = 'home';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;

block content
	.page(class="page--" + currentPage)
		.page-bg-hero
			.text HOMO LUDENS
		#bg-parts.page-bg-parts
			canvas#bg-parts-canvas
		.page-wrapper
			.l-container
				.page-inner
					.page-content
						.title Левелдизайн на&nbsp;уровне&nbsp;ДНК
						.subtitle Он прошёл путём игровой эволюции
						.btns
							+btn360()
								.text посмотреть 3d&nbsp;модель
							+btn('btn-ar').btn-ar.btn-popup(data-target="#ar-popup")
								.text посмотреть Homo&nbsp;Ludens
								.ar AR
					//- .page-img
						.hero: img(src="build/img/center.png")
						.text HOMO LUDENS