.header {
	absolute(0px, 0px);
	width: 100%;
	z-index: 9;
	background: transparent;
	color: $white;

	a {
		color: inherit;
	}

	&__content {
		flexy(space-between, center);
		padding: 40px 0 0;
	}

	&__logo {
		flex: 0 0 230px;
		flexy(flex-start, center);
		z-index: 10;
		
		.a-logo {
			size(66px);
			margin-right: 10px;
		}
		.adr-logo {
			size(160px, 66px);
		}
	}

	&__menu {
		flex: 0 0 80px;
	}
	
}