.show-ludens {
  text-align: center;
  .title {
    font: 700 36px $font-base;
    text-transform uppercase;
    letter-spacing: 0.2em;
    color: $primary;
    max-width: 10em;
    margin: 0 auto;

    @media $mdHeight {
      font-size: vh(36);
    }
  }
  .subtitle {
    font: 700 24px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $white;
    margin: 50px auto;

    @media $mdHeight {
      font-size: vh(24);
      margin: vh(50) auto;
    }
  }
}