.show-ludens {
  text-align: center;
  .title {
    font: 700 vh(36) $font-base;
    text-transform uppercase;
    letter-spacing: 0.2em;
    color: $primary;
    max-width: 10em;
    margin: 0 auto;
  }
  .subtitle {
    font: 700 vh(24) $font-base;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $white;
    margin: vh(50) auto;
  }
}