include ../mixins
#ar-popup.popup
  .popup__inner
    .l-container
      .popup__content
        .show-ludens
          .title посмотреть homo&nbsp;ludens&nbsp;AR 
          .subtitle откройте страницу с мобильного устройства
          +btn().btn-close-popup
            .text Назад