include ../mixins
.header
  .l-container
    .header__content
      .header__logo.header__logo
        +icon('a-logo').icon--block.a-logo
        +icon('adrenaline').icon--block.adr-logo
      .header__menu
        .btn-menu
          div
          div
          div
        include main-menu