@import 'vars.styl';
if $use-fonts {
  @import 'fonts.styl';
}
@import './tools/mixins.styl';
if $use-grid {
  @import './grid/gridlex.styl';
  @import './base/hiddens.styl';
  @import './grid/grid.styl'
}
@import './plugins/plugins.styl';
@import './base/normalize.styl';
@import './base/layout.styl';
if $use-spacing {
  @import './base/spacing.styl';
}
@import './base/typography.styl';
@import './base/icon.styl';
@import './base/animation.styl';
@import './base/buttons.styl';
if $use-modal {
  @import './components/popup.styl';
}

@import './components/header.styl';
@import './components/nav.styl';
@import './components/show-ludens.styl';
@import './components/loading.styl';

// pages

@import './pages/home.styl';
